*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button:focus-visible{
    outline: none;
}
li{
    /* color: #fff; */
    list-style: none;
}
.contain_style{
    position: relative;
}
/* ---------------Header-------------- */
header{
    width: 100%;
    position: absolute;
    z-index: 100;
}
.header_nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 20px;
    background-color: rgba(51, 51, 51, 0.5);
    color: #fff;
    position: relative;
}
.header_nav .logo{
    position: absolute;
    width: 225px;
    height: 200px;
    left: 20px;
    top: 0;
}
.header_nav .logo img{
    width: 100%;
    height: 100%;
}
.header_nav ul{
    position: relative;
    display: flex;
    /* gap: 30px; */
    margin-right: 100px;
    margin-bottom: 0;
    padding: 0;
    /* background-image: linear-gradient(to right, #00B9E5, #00B9E5); */
}
.header_nav ul li{
    /* margin: 0 10px; */
    min-width: 120px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    padding: 0px 10px;
    transition: all 0.2s linear;
    /* border: 1px solid #fff; */
}
.header_nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    /* border: 1px solid #fff; */
}
.header_nav ul li:hover{
    background-color: #00B9E5;
}
.header_nav ul li:hover a{
    color: white;
    text-shadow:  0 0 3px white;
}
.header_nav ul li.nav_active{
    background-color: #00B9E5;
    color: white;
    text-shadow:  0 0 3px white;    
}
.header_nav ul .layout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #00B9E5;
    border-radius: 25px;
}
/* ----------------Banner_club---------------- */
.banner_club{
    width: 100%;
    height: 500px;
    position: relative;
    background-image: url('../img/banner_about.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner_club div{
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(.8);
    padding: 0 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.banner_club p{
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 15px #00B9E5;
    font-size: 100px;
    margin: 0;
}
.banner_club h3{
    font-weight: bold;
    font-size: 40px;
    color: #fff;
    text-shadow: 0 0 15px #00B9E5;
    margin: 0;
}
/* ---------------Context--------------- */
.context_about{
    padding: 100px 0;
    margin: 0 auto;
    max-width: 1148px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.context_about .about_table{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.context_about .about_table img{
    width: 100%;
    height: 100%;
}
.context_about .about_info{
    width: 50%;
}
.context_about .about_info h1{
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 5px #00B9E5;
    margin-bottom: 20px;
}
.context_about .about_info p{
    font-size: 18px;
    color: #7a7a7a;
    /* text-shadow: 0 0 5px #00B9E5; */
    margin-bottom: 20px;
}
/* -------------- Service_about----------*/
.service_about{
    height: 900px;
    position: relative;
}
.service_about > div{
    max-width: 1148px;
    height: 50%;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}
.service_about .teams_about > article{
    width: 50%;
    height: 100%;
    position: relative;
    color: #fff;
    z-index: 10;
    padding: 40px 30px;
}
.service_about .teams_about .contain_list{
    margin: 25px auto;
    display: flex;
}
.service_about .work_about .info_work{
    width: 50%;
    /* background-color: #fff; */
}
.service_about .bg_radial{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-image: radial-gradient(circle,rgb(29, 132, 158),  #091933)  ;
}
.service_about .bg_radial > div{
    display: flex;
    width: 100%;
    height: 50%;
}
.service_about .bg_radial > div > div{
    width: 50%;
    height: 100%;
}
.service_about .bg_radial > div:first-of-type > div:last-of-type{
    background-image: url(../img/article_img_4.jpg);
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    filter: brightness(0.5);
}
.service_about .bg_radial > div:last-of-type > div:first-of-type{
    background-color: white;
}