header{
    width: 100%;
    position: absolute;
    z-index: 100;
}
.header_nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 20px;
    background-color: rgba(51, 51, 51, 0.5);
    color: #fff;
    position: relative;
}
.header_nav .logo{
    position: absolute;
    width: 225px;
    height: 200px;
    left: 20px;
    top: 0;
}
.header_nav .logo img{
    width: 100%;
    height: 100%;
}
.header_nav ul{
    position: relative;
    display: flex;
    margin-right: 100px;
    margin-bottom: 0;
    padding: 0;
}
.header_nav ul li{
    min-width: 120px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    padding: 0px 10px;
    transition: all 0.2s linear;
}
.header_nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.header_nav ul li:hover{
    background-color: #00B9E5;
}
.header_nav ul li:hover a{
    color: white;
    text-shadow:  0 0 3px white;
}
.header_nav ul li.nav_active{
    background-color: #00B9E5;
    color: white;
    text-shadow:  0 0 3px white;    
}
.header_nav ul .layout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #00B9E5;
    border-radius: 25px;
}
/*-------------------contain_gallery--------------*/
.bg_gallery{
    padding-top: 70px;
    width: 100%;
    position: relative;
}
.bg_gallery #bg_volley{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(.5);
}
.contain_gallery{
    position: relative;
    padding: 120px 0;
    margin: 0 auto;
    max-width: 1148px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
.contain_gallery  h1{
    text-align: center;
    margin-bottom: 50px;
    color: rgba(255, 255, 255, 0.985);
    text-shadow: 0 0 20px #00b7e596;
    font-family: 'RobotoCondensed';
    transition: all 0.3s linear;
}
.contain_gallery article{
    width: 30%;
    height: 180px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, .3);
    z-index: 5;
    transition: all 0.3s linear;
    cursor: pointer;
}
.contain_gallery article.hide{
    animation: hide 0.5s linear forwards;
}
.contain_gallery article.show{
    animation: show 0.5s linear forwards;
}
@keyframes hide{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(0);
    }
}
@keyframes show{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.contain_gallery article .layer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
}
.contain_gallery article::before{
    content: "";
    width: 300px;
    height: 300px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    transform: rotate(45deg);
    top: -65%;
    left: 10%;
    transition: all 0.3s linear;
}
.contain_gallery article::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: -10%;
    /* background-color: #c65d5d67; */
    background:linear-gradient(to top, rgba(58, 58, 58, 0.508) , rgba(255, 255, 255, .6)   );
    opacity: 1;
    transition: all 0.2s linear;
}
.contain_gallery article:hover{
    text-shadow: 0 0 20px #00B9E5;
}
.contain_gallery article:hover > img{
    filter: brightness(.5);
}
.contain_gallery article:hover::after{
     opacity: 0.5;
     bottom: -15%;
}
.contain_gallery article:hover::before{
    top: -50%;
    left: 15%;
}
.contain_gallery article span{
    color: #fff;
    font-family: 'RobotoCondensed';
    font-size: 30px;
    text-align: center;
    display: inline-block;
    margin-left: 20px;
} 
.contain_gallery article > img{
    width: 45%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
    /* z-index: 10; */
    transition: all 0.3s linear;
}
.contain_gallery article .title_section{
    width: 50%;
    position: relative;
}
/*!-----------------galeria_dinamica---------------  */
.container_elements.no_visible{
    display: none;
    /* opacity: 0;
    transition: all 0.5s linear; */
}
.container_elements{
    position: absolute;
    width: 100%;
    height: 90%;
    /* background-color: #ffffff99; */
    margin-top: 100px;
    top: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    animation: show_gallery 0.5s .3s linear forwards;
    transition: all 0.5s linear;
}
@keyframes show_gallery{
    to{
        opacity: 1;
    }
}
.container_elements .box_gallery{
    /* margin: 80px auto; */
    max-width: 1148px;
    width: 100%;
    height: 80%;
    display: flex;
    position: relative;
    box-shadow: 0 0 30px 5px #000;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}
.container_elements .box_gallery .items_navbar{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 15px;
    gap: 40px;
    /* padding: 40px 0; */
    font-family: 'RobotoCondensed';
    /* position: relative; */
    /* background-color: #00b7e576; */
}
.box_gallery .items_navbar h1{
    text-align: center;
    font-size: 2rem;
    color: #fff;
    text-shadow: 0 0 20px #00b7e596;
}
.box_gallery .items_navbar .layer_line{
    width: 85%;
    height: 3px;
    position: relative;
    /* bottom: 0; */
    left: 50%;
    transform: translateX(-50%);
    background-color: #00b7e596;
    border-radius: 5px;
    z-index: 10;

}
.box_gallery .items_navbar .tot_selector{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
} 
.box_gallery .items_navbar .tot_selector .selector_img{
    width: 50px;
    height: 50px;
    position: relative;
    border: 2px solid white;
    filter: brightness(.5);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s linear;
}
.box_gallery .items_navbar .tot_selector .selector_img.true{
    filter: brightness(1);
}
.box_gallery .items_navbar .tot_selector .selector_img.true div{
    opacity: 1;
}
.box_gallery .items_navbar .tot_selector .selector_img:active{
    filter: brightness(1);
}
.box_gallery .items_navbar .tot_selector .selector_img div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0;
}
.box_gallery .items_navbar .tot_selector .selector_img:hover {
    filter: brightness(1);
}
.box_gallery .items_navbar .tot_selector .selector_img:hover div{
    opacity: 1;
}
.container_elements .box_gallery .cont_img{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #ffffff99;
}
.container_elements .box_gallery .cont_img img{
    position: absolute;
    /* opacity: 0; */
    width: 100%;
    height: inherit;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    /* display: none; */
}
.container_elements .box_gallery .cont_img img.true{
    opacity: 1;
    z-index: 1;
    cursor: pointer;
    transition: all 0.3s linear;
}
.box_quit{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    z-index: 5;
    cursor: pointer;
    transition: all .3s linear;
}

.box_quit:hover{
    scale: 1.2;
}
.box_quit > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.box_temp{
    width: 100%;
    height: 100%;
}
/*------------FOOTER SECTION---------------------*/