/* ---------HEADER SECTION------------- */
/* ---------------SLIDER-------------------- */
.slider_contain{
    position: relative;
    z-index: 10;
}
.slider{
    width: 100%;
    height: 115vh;
    overflow: hidden;
    display: flex;
    position: relative;
}
.slider_contain .slider_btns{
    display: flex;
    position: absolute;
    bottom: 115px;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 20px;
    z-index: 15;
}
.slider_contain .slider_btns button{
    width: 60px;
    height: 60px;
    background-color: rgb(150, 150, 150, 0.8);
    border: none;
    font-weight: bold;
    font-size: 25px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s linear;
    user-select: none;
    transition: 0.2s linear;
}
.slider_contain .slider_btns button:hover{
    background-color: rgb(0, 185, 229, 0.8);
    scale: 1.1;
}
.slide_item{
    position: absolute;
    width: 100%;
    height: 100%;
}
.slide_item.item_active{
    /* opacity: 0; */
}
.slide_item:nth-child(1){
    /* transform: translateX(0%); */
    z-index: 10;
}
.slide_item:nth-child(2){
    /* transform: translateX(100%); */
    z-index: 9;
}
.slide_item img{
    width: 100%;
    height: 100%;
    filter: brightness(65%);
}
.slide_item:nth-child(1) img{
    object-fit: cover;
    object-position: center;
}
.slide_item:nth-child(1) .slide_info{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0%, -50%);
    text-align: left;
    /* font-family: 'News_Reg'; */
    color: #00B9E5;
    text-shadow: 0 0 3px black;
}
.slide_info h3{
    /* width: 50%; */
    font-size: 40px;
    font-weight: bold;
    /* font-family: 'News_Wide'; */
    text-shadow: 0 0 15px black;
    opacity: 0;
    transform: translateX(350px);
    animation: displace 0.3s 0.7s linear forwards;
}
.slide_info h1{
    color: #fff;
    font-family: 'RobotoCondensed';
    text-shadow: 0 0 15px #00B9E5;
    opacity: 0;
    animation: text_glow 1.5s linear infinite, text_opa .5s .2s linear forwards;
    font-size: 160px;
}
@keyframes text_glow{
    0%{
        text-shadow: 0 0 15px #00B9E5;
    }
    50%{
        text-shadow: 0 0 0px #fff;
    }
    100%{
        text-shadow: 0 0 15px #00B9E5;
    }
}
@keyframes text_opa {
    to{
        opacity: 1;
    }
}
.slide_info h2{
    font-size: 25px;
    font-weight: bold;
    color: #00B9E5;
    text-shadow: 0 0 15px black;
    transform: translateX(350px);
    opacity: 0;
    animation: displace 0.3s .7s linear forwards;
}
.slide_item:nth-child(1) .slide_info button{
    padding: 15px 40px;
    background-color: rgba(169, 169, 169, 0.5);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    transition: 0.2s linear;
    transform: translateX(-250px);
    opacity: 0;
    animation: displace 0.3s 0.7s linear forwards;
}

.slide_item .slide_info > button:hover{
    text-shadow: 0 0 3px #fff;
    background-color: rgb(29, 132, 158);
    scale: 1.1;
}
@keyframes displace {
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
/* ------------------event_week--------------- */
.event_week{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle,rgb(29, 132, 158, .5),  #091933), url('../img/pexels-pavel-danilyuk-6203572.jpg');
    background-position: center;
    background-size: cover;
    color: #000;
    overflow: hidden;
    position: relative;
}
.event_week::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 340px;
    height: 140%;
    background-image: url('../img/figure_voley.png');
    background-size: cover;
    background-position: center;
    z-index: 5;
   
}
.event_week::after{
    content: '';
    position: absolute;
    top: 10%;
    right: -5%;
    width: 570px;
    height: 140%;
    background-image: url('../img/figure_voley_2.png');
    background-size: cover;
    background-position: center;
    z-index: 5;
    /* transform: scaleX(-1); */

}
.event_week .container_art{
    position: relative;
    z-index: 10;
}
.event_week .event_item{
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 40px;
    font-weight: 500;
    font-family: 'RobotoCondensed';
    color: #fff;
    text-shadow: 0 0 45px #00B9E5;
}
.event_week .event_item::after{
    content: 'VS';
    color: #fff;
    position: absolute;
    font-style: italic;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-weight: bold;
}
.event_week .contain_teams{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    width: 650px;
    height: 100%;
}

.event_week .contain_teams img{
    width: 250px;
    height: 250px;
}
.event_week .event_item .event_sets{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/*--------------- Section intro------------------ */
section.intro{
    padding-top: 100px;
}
.intro h1{
    font-family: 'RobotoCondensed';
    font-size: 55px;
    color: #1EBDD3;
    /* text-align: center; */
    margin-bottom: 10px;

}
/*--------------- section_news------------------ */
.section_news{
    padding: 100px 0;
}
.section_news .card_news{
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    overflow: hidden;
    border-radius: 0px;
}
.section_news .card_news:hover img{
    transform: scale(1.2);
    filter: brightness(.5);
}
.section_news .card_news .card_info h5{
    font-family: 'RobotoCondensed';
    font-size: 26px;
    color: #fff;
    
}
.section_news .card_news > div.card_info{
    padding: 20px;
    /* background-color: #00B9E5; */
    color: #fff;
    opacity: 0;
}
.section_news .card_news:hover > div.card_info{
    opacity: 1;
    transition: all 0.3s linear;
    text-align: center;
}
.section_news .card_news > img{
    min-height: 300px;
    object-fit: cover;
    border-radius: 0;
    transition: all 0.3s linear;
}
/* !----------next_match ------*/
div.next_events .next_match{
    background-color: rgba(204, 204, 204, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
    margin-bottom: 5px;
}
.next_match .teams_vs{
    display: flex;
    gap: 60px;
    position: relative;
}
.next_match p{
    margin: 0 10px;
}
.next_match .teams_vs::after{
    content: 'VS';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.next_match .teams_vs > div{
    display: flex;
    align-items: center;
}
.next_match .teams_vs > div img{
    width: 50px;
    height: 50px;
}
.lasted_result > h1{
    background-color: #00B9E5;
    padding: 20px 40px;
    color: #fff;
    font-size: 20px;
    margin: 0;
    font-family: 'RobotoCondensed';
}
aside.table_result .next_match{
    background-color: rgba(204, 204, 204, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 18px 20px;
    margin-bottom: 5px;
}
.lasted_result button, .next_events button{
    width: 100%;
    padding: 15px 0;
    border: none;
    font-family: 'RobotoCondensed';
    font-size: 20px;
}
.lasted_result button{
    color: #00B9E5;
    background-color: #fff;
    box-shadow: 0 0px 10px rgba(0, 0, 0, .2);
    position: relative;
}
.lasted_result button::after{
    content: '';
    background-image: url('../img/icon/arrow-right.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 25px;
    position: absolute;
    color: #00B9E5;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s linear;
}
.lasted_result button:hover::after{
    left: 80%;
    scale: 1.1;
}
.next_events button{
    background-color: #00B9E5;
    color: #fff;
}
/*------------------------section_stories----------- */
.section_stories{
    padding: 100px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('../img/bg_stories.jpg');
    background-size: cover;
}
.contain_stories{
    max-width: 1230px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.contain_stories > h1{
    font-family: 'RobotoCondensed';
    font-size: 55px;
    color: #1EBDD3;
    text-align: center;
    margin-bottom: 50px;
}
.contain_stories .stories_slide{
    width: 200%;
    padding: 20px 0px;
    display: flex;
    gap: 30px;
}
.stories_slide article.card_stories{
    width: 280px;
    background-color: #fff;
    border: none;
    position: relative;
    box-shadow: -10px 14px 0 0px #a5a3a3
}
.stories_slide article.card_stories:hover img{
    transform: scale(1.2);
    filter: brightness(.5);
}
.stories_slide article.card_stories span:last-child{
    display: block;
    width: 100%;
    height: 50px;
    background-color: #00B9E5;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s linear;
}
.stories_slide article.card_stories:hover span:last-child{
    background-color: #0188aa;
    text-shadow: 0 0 10px #00B9E5;
    /* color: #07facd; */
}
article.card_stories .img_stories{
    width: 100%;
    height: 300px;
    overflow: hidden;
}

article.card_stories img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s linear;
}
article.card_stories .info_stories{
    /* background-color: #fff; */
    padding: 40px 15px;
    color: #000;
}
.info_stories h2{
    font-family: 'RobotoCondensed';
    font-size: 25px;
    color: #1EBDD3;
}
.contain_stories .btn_stories{
    position: absolute;
    top: 10px;
    right: 0%;
}
.btn_stories button{
    padding: 5px 20px;
    background-color: rgba(204, 204, 204, 0.8);
    border: none;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s linear;
}
.btn_stories button:hover{
    background-color: #00B9E5;
    
}

/* -----------------------footer-------------------- */
