/*!--------------------page_index------------------------- */
/* 
    ?Medidas de bootstrap
    *Extra small <576px
    *Small ≥576px
    *Medium ≥768px
    *Large ≥992px
    *Extra large ≥1200px
    *Extra Extra  large ≥1400px

*/
@media only screen and (width < 1400px){
    .event_week::after {
        right: -15%;
    }
    .lasted_result .next_match {
        font-size: 1em;
    }
    .lasted_result .next_match .teams_vs::after{
        font-size: 1.5em;
    }
    .contain_stories{
        padding: 0 25px;
    }
    .contain_stories .stories_slide{
        width: 100%;
    }
    .stories_slide article.card_stories{
        width: 265px;
    }
    article.card_stories .img_stories {
        height: 280px;
    }
    .contain_stories .btn_stories {
        right: 40px;
    }
    /* --------------------page_Gallery-------------------- */

}
/**-------next_macth----- */
@media only screen and (width < 1248px){
    
}
@media only screen and (width < 1200px){
    .header_nav .logo{
        width: 175px;
        height: 165px;
        left: 40px;
        top: 10px;
    }
    .header_nav ul{
        margin-right: 50px;
    }
    .header_nav ul li{
        height: 80px;
        line-height: 80px;
    }
    /*----------------------Main_index----------------------*/
    div.next_events .next_match{
        flex-direction: column;
    }
    .event_week::after {
        right: -22%;
    }
    .event_week .contain_teams {
        width: 550px;
    }
    .event_week .contain_teams img {
        width: 225px;
        height: 225px;
    }
    div.next_events .next_match {
        padding: 10px 0px;
    }
    .next_events .next_match .teams_vs {
        gap: 130px;
    }
    .next_events .next_match .teams_vs > div img {
        width: 130px;
        height: 130px;
    }
    .lasted_result .next_match .teams_vs > div img{
        width: 50px;
        height: 50px;
    }
    .lasted_result .next_match p{
        margin: 0;
    }
    .contain_stories{
        max-width: 992px;
        padding: 0 25px;
    }
    .contain_stories .stories_slide{
        width: 100%;
    }
    .stories_slide article.card_stories{
        width: 290px;
    }
    article.card_stories .img_stories {
        height: 280px;
    }
    /* --------------------page_Gallery-------------------- */
    .contain_gallery article span {
        font-size: 25px;
    }
    /* --------------------pageTournamet------------------- */
    .container_next_match .cont_title{
        width: 45%;
    }
    .container_next_match article::before{
        left: 30%;
    }
    .container_next_match article .data_match {
        width: 30%;
    }
    .container_next_match article .teams_vs {
        width: 30%;
        padding-left: 0;
    }
}
@media only screen and (width < 992px){
    .header_nav .logo{
        width: 175px;
        height: 165px;
        left: 20px;
        top: 0px;
    }
    .header_nav ul{
        margin-right: 0px;
    }
    .header_nav ul li{
        min-width: 100px;
    }
    .header_nav ul a{
        font-size: 14px;
    }
    /*----------------------Main_index----------------------*/
    .slide_item img {
        filter: brightness(.5);
    }
    .slide_info h3{
        font-size: 30px;
    }
    .slide_info h1{
        font-size: 120px;
        line-height: 1;
        margin-bottom: 0px;
    }
    .slide_info h2{
        font-size: 25px;
    }
    .slider_contain .slider_btns button{
        width: 40px;
        height: 40px;
        font-size: 15px;
    }
    .slide_item:nth-child(1) .slide_info button{
        margin: 25px 0;
    }
    .event_week::before, .event_week::after{
        display: none;
    }
    .event_week .event_item .event_sets {
        justify-content: center;
        gap: 40px;
    }
    aside.table_result .next_match {
        gap: 5px 0;
    }
    .lasted_result .next_match .teams_vs > div img {
        width: 130px;
        height: 130px;
    }
    .lasted_result .next_match{
        font-size: 1.5em;
    }
    .lasted_result .next_match p{
        margin: 0 10px;
    }
    .lasted_result .next_match .teams_vs {
        justify-content: space-around;
    }
    .contain_stories{
        max-width: 768px;
    }
    .stories_slide article.card_stories{
        width: 216px;
    }
    article.card_stories .img_stories {
        height: 180px;
    }
    /* ------------------Page_About------------------ */
    .banner_club p {
        font-size: 70px;
    }
    .banner_club h3 {
        font-size: 30px;
    }
    .about_table canvas{
        width: 100% !important;
        height: 40% !important;
    }
    .service_about .teams_about > article,
    .service_about .work_about > article{
        min-height: 750px;
    }
    .federados_team .container > .row img{
        height: 400px;
    }
    .service_about .bg_radial > div > div{
        min-height: 750px;
        width: 100%;
    }
    /* --------------------page_Gallery-------------------- */
    .contain_gallery article {
        width: 37%;
        height: 180px;
    }
    /* --------------------page_tournament-------------------- */
    .team_fed {
        overflow-x: scroll;
    }
    .container_next_match article::after{
        right: 30%;
    }
    .container_next_match {
        flex-direction: column;
    }
    .container_next_match .cont_title {
        width: 100%;
    }
}
@media only screen and (width < 768px){
    .hamburguer_menu{
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .header_nav .logo{
        display: none;
    }
    .header_nav ul{
        display: none;
        position: absolute;
        right: 15px;
        top: 55px;
        flex-direction: column;
        gap: 6px;
    }
    .header_nav ul.menu_active{
        display: flex;
        opacity: 0;
        animation: displace_menu .5s  linear forwards;
    }
    .header_nav ul a{
        /* position: absolute; */
        font-size: 0;
        animation: displace_menu .5s .2s linear forwards;
    }
    .header_nav ul a li{
        background-color: rgba(255, 255, 255, 0.6);
        padding: 0;
        border-radius: 50%;
        min-width: 50px;
        height: 50px;
        background-position: center;
        background-size: 20px;
        background-repeat: no-repeat;
    }
    .header_nav ul a:nth-child(1) li{
        background-image: url('../img/icon/home.svg');
    }
    .header_nav ul a:nth-child(2) li{
        background-image: url('../img/icon/file-description.svg');
    }
    .header_nav ul a:nth-child(3) li{
        background-image: url('../img/icon/trophy.svg');
    }
    .header_nav ul a:nth-child(4) li{
        background-image: url('../img/icon/photo-search.svg');
    }
    .header_nav ul a:nth-child(5) li{
        background-image: url('../img/icon/phone.svg');
    }
    .header_nav ul a:nth-child(1){
        /* transform: translateY(-50px); */
    }
    .header_nav ul a:nth-child(2){
        transform: translateY(-55px);
    }
    .header_nav ul a:nth-child(3){
        transform: translateY(-112px);
    }
    .header_nav ul a:nth-child(4){
        transform: translateY(-167px);
    }
    .header_nav ul a:nth-child(5){
        transform: translateY(-224px);
    }
    .header_nav ul li.nav_active{
        color: transparent;
        text-shadow: none;
        background-color: rgba(255, 255, 255, .5);
        box-shadow: inset 0 0 25px 0px #00b7e5b0;
    }
    .header_nav ul .layout{
        display: none;
    }
    @keyframes displace_menu {
        to{
            opacity: 1;
            transform: translateX(0);
        }
    }
    /*----------------------Main_index----------------------*/
    .slide_info h3{
        font-size: 20px;
    }
    .slide_info h1{
        font-size: 110px;
        line-height: 1;
        margin-bottom: 0px;
    }
    .slide_info h2{
        font-size: 20px;
    }
    .slide_item:nth-child(1) .slide_info button{
        margin: 25px 0;
        padding: 10px 25px;
        font-size: 20px;
    }
    .event_week .contain_teams img {
        width: 200px;
        height: 200px;
    }
    .event_week .event_item::after{
        top: 40%;
    }
    .event_week .event_item .event_sets {
        flex-wrap: wrap;
        width: 70%;
        gap: 0 40px;
    }
    .next_match{
        font-size: 1.2em;
    }
    .lasted_result .next_match {
        font-size: 1.2em;
    }
    .next_events .next_match .teams_vs {
        gap: 75px;
    }
    .next_events .next_match .teams_vs > div img {
        width: 90px;
        height: 90px;
    }
    aside.table_result .next_match {
        padding: 10px 0;
    }
    .lasted_result .next_match .teams_vs {
        width: auto;
        justify-content: space-between;
        gap: 75px;
    }
    .lasted_result .next_match .teams_vs > div img {
        width: 90px;
        height: 90px;
    }
    .contain_stories{
        max-width: 600px;
    }
    .stories_slide article.card_stories{
        width: 246px;
    }
    article.card_stories .img_stories {
        height: 200px;
    }
    .contain_stories .btn_stories {
        bottom: -60px;
        right: 50%;
        top: auto;
        transform: translateX(50px);
    }
    /* ------------------page_ABOUT------------------*/
    .banner_club p {
        font-size: 60px;
    }
    .banner_club h3 {
        font-size: 25px;
    }  
    .context_about .about_top{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 35px;
    }
    .context_about .about_info{
        width: 100%;
    }
    .context_about .about_table{
        width: 80%;
    }
    .about_table canvas{
        width: 100% !important;
        height: 250px !important;
        min-height: 250px !important;
    }
    .service_about > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .service_about .teams_about > article,
    .service_about .work_about > article{
        width: 100%;
        min-height: 575px;
    }

    /* *bg */
    .service_about .bg_radial > div {
        display: flex;
        width: 100%;
        height: 50%;
        flex-direction: column;
    }
    .service_about .bg_radial > div > div{
        min-height: 575px;
        width: 100%;
    }
    .federados_team .container > .row img{
        height: 450px;
        object-position: 50% 15%;
    }
    /* --------------------page_Gallery-------------------- */
    .contain_gallery article {
        width: 75%;
        height: 180px;
    }
    .contain_gallery h1 {
        width: 70%;
    }
    .contain_gallery article::before {
        top: -33%;
    }
    .contain_gallery article:hover::before {
        top: -33%;
        left: 33%;
    }
    .container_elements .box_gallery {
        flex-direction: column;
        align-items: center;
        min-height: 850px;
        height: 65%;
        width: 97.5%;
    }
    .container_elements .box_gallery .items_navbar {
        width: 100%;
        padding: 15px 10px;
    }
    .container_elements .box_gallery .cont_img {
        width: 95%;
        height: 97.5%;
        position: relative;
    }
    .container_elements .box_gallery .cont_img img {
        object-fit: contain;
        background: #000;
    }
    /* --------------------pageTournament------------------- */
    .container_next_match article {
        gap: 10px;
    }
    .team_fed table {
        font-size: 1em;
    }
    .team_fed table td {
        padding: 10px 0;
    }
}
@media only screen and (width < 576px){
    .header_nav ul{
        right: 17px;
    }
    .header_nav ul a li{
        min-width: 45px;
        height: 45px;
    }
    /*----------------------Main_index----------------------*/
    .slide_info h1{
        font-size: 95px;
    }
    .slide_item:nth-child(1) .slide_info {
        text-align: center;
        top: 57%;
        left: 0;
        width: 100%;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .slide_item:nth-child(1) .slide_info button{
        padding: 10px 25px;
        font-size: 15px;
    }
    .event_week { 
        padding: 40px 0;
    }
    .event_week .event_item {
        font-size: 30px;
    }
    .event_week .contain_teams {
        width: 100%;
        gap: 0 20px;
        justify-content: space-around;
    }
    .event_week .contain_teams img {
        width: 175px;
        height: 175px;
    }
    .event_week .event_item::after {
        top: 40%;
    }
    .event_week .event_item .event_sets {
        flex-wrap: wrap;
        width: 75%;
        gap: 0 40px;
    }
    section.intro{
        padding-top: 50px;
    }
    .next_match{
        font-size: 1em;
    }
    .lasted_result .next_match {
        font-size: 1em;
    }
    .next_events .next_match .teams_vs > div img {
        width: 70px;
        height: 70px;
    }
    .lasted_result .next_match .teams_vs > div img {
        width: 70px;
        height: 70px;
    }
    .contain_stories{
        max-width: 425px;
    }
    .stories_slide article.card_stories{
        width: 350px;
    }
    article.card_stories .img_stories {
        height: 200px;
    }
    /* -------------------Page_about------------------ */
    .banner_club div {
        padding-left: 0;
        padding-bottom: 60px;
        text-align: center;
        backdrop-filter: brightness(.6);
    }
    .context_about .about_table {
        width: 90%;
    }
    .context_about {
        padding: 50px 12px;
    }
    .service_about .teams_about > article, 
    .service_about .work_about > article {
        padding: 20px 12px;
    } 

    .intro h1, 
    .contain_map h1,
    .context_about .about_info h2, 
    .context_about .about_extra h2, 
    .service_about article h2,
    .federados_team h2,
    section.context_tour h2 {
        text-align: center;
        font-size: 40px;
    }
    /* --------------------page_Gallery-------------------- */
    .contain_gallery {
        padding: 50px 0;
    }
    .contain_gallery h1 {
        width: 90%;
    }
    .container_elements .box_gallery {
        min-height: 750px;
    }

    /* --------------------pageTournament------------------ */
    .container_next_match article .teams_vs > div .cont_img {
        width: 40px;
        height: 40px;
    }
    .container_next_match article::before {
        left: 45%;
    }
    .container_next_match article .data_match {
        width: 50%;
    }
    .container_next_match article .teams_vs {
        width: 50%;
    }
    .container_next_match article .score_set {
        display: none;
    }
    .container_next_match article::after {
        display: none;
    }
}
@media only screen and (width < 425px){
    .slide_info h1{
        font-size: 85px;
    }
    .event_week .contain_teams img {
        width: 150px;
        height: 150px;
    }
    .contain_stories{
        max-width: 375px;
    }
    .stories_slide article.card_stories{
        width: 315px;
    }
    /* ---------------------page_about-------------------- */
    .banner_club p {
        font-size: 55px;
    }
    .banner_club h3 {
        font-size: 20px;
    }
    .service_about .teams_about > article,
    .service_about .work_about > article{
        width: 100%;
        min-height: 790px;
    }
    .service_about .bg_radial > div > div{
        min-height: 790px;
        width: 100%;
    }
    .service_about .teams_about .contain_list{
        flex-direction: column;
        gap: initial;
    }
    /* --------------------page_Gallery-------------------- */
    /* --------------------page_tournament-------------------- */
    section.context_tour {
        padding: 50px 12px;
    }

}
@media only screen and (width < 375px){
    .hamburguer_menu{
        right: 5px;
    }
    .header_nav ul{
        right: 7px;
    }
    .slide_info h1{
        font-size: 70px;
    }
    .slide_info h2 {
        font-size: 15px;
    }
    .intro h1, 
    .contain_map h1,
    .context_about .about_info h2, 
    .context_about .about_extra h2, 
    .service_about article h2,
    .federados_team h2,
    section.context_tour h2 {
        font-size: 30px;
    }
    .next_events .next_match .teams_vs {
        gap: 30px;
    }
    .lasted_result .next_match .teams_vs {
        gap: 30px;
    }
    .next_events .next_match .teams_vs > div img {
        width: 55px;
        height: 55px;
    }
    .lasted_result .next_match .teams_vs > div img {
        width: 55px;
        height: 55px;
    }
    .contain_stories{
        max-width: 320px;
    }
    .stories_slide article.card_stories{
        width: 260px;
    }
    article.card_stories .img_stories {
        height: 180px;
    }
    /* --------------------page_Gallery-------------------- */
    .contain_gallery article span {
        font-size: 20px;
    }
}