header{
    width: 100%;
    position: absolute;
    z-index: 100;
}
.header_nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 20px;
    background-color: rgba(51, 51, 51, 0.5);
    color: #fff;
    position: relative;
}
.header_nav .logo{
    position: absolute;
    width: 225px;
    height: 200px;
    left: 20px;
    top: 0;
}
.header_nav .logo img{
    width: 100%;
    height: 100%;
}
.header_nav ul{
    position: relative;
    display: flex;
    /* gap: 30px; */
    margin-right: 100px;
    margin-bottom: 0;
    padding: 0;
    /* background-image: linear-gradient(to right, #00B9E5, #00B9E5); */
}
.header_nav ul li{
    /* margin: 0 10px; */
    min-width: 120px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    padding: 0px 10px;
    transition: all 0.2s linear;
    /* border: 1px solid #fff; */
}
.header_nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    /* border: 1px solid #fff; */
}
.header_nav ul li:hover{
    background-color: #00B9E5;
}
.header_nav ul li:hover a{
    color: white;
    text-shadow:  0 0 3px white;
}
.header_nav ul li.nav_active{
    background-color: #00B9E5;
    color: white;
    text-shadow:  0 0 3px white;    
}
.header_nav ul .layout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #00B9E5;
    border-radius: 25px;
}
/*--------------------------------------------*/
/*-----------------------footer---------------------*/
footer{
    padding: 100px 0;
    background-color: #2e2e2e;
    color: #fff;
}
.list_contact{
    padding: 0;
}
.list_contact a, .links_section a{
    color: #00B9E5;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.1s linear;
}
.list_contact a:hover, .links_section a:hover{
    color: #fff;
}

.list_contact li{
    margin-bottom: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    position: relative;
}

.list_contact a:nth-child(1) li span{
    display: inline-block;
    width: 30px;
    height: 30px;
    /* background-color: #00B9E5; */
    background-image: url('../img/icon/gps\ \(1\).svg');
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}
.list_contact a:nth-child(2) li span{
    display: inline-block;
    width: 30px;
    height: 30px;
    /* background-color: #00B9E5; */
    background-image: url('../img/icon/mail\ \(1\).svg');
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}
.list_contact a:nth-child(3) li span{
    display: inline-block;
    width: 30px;
    height: 30px;
    /* background-color: #00B9E5; */
    background-image: url('../img/icon/phone_wh.svg');
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}
.social_red{
    display: flex;
    gap: 10%;
}
.social_red a{
    display: inline-block;
    width: 30px;
    height: 30px;
}
.social_red a img{
    width: 100%;
    height: 100%;
}
.links_section{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.links_section span{
    display: block;
    width: 100%;
    position: relative;
}
.links_section span::before{
    content: '';
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: #fff;
    top: 150%;
    left: 0;
}
.galery_section{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* justify-content: space-between; */
    margin-top: 50px;
}
.galery_section .img_link{
    width: 30%;
    height: 100px;
    position: relative;
    
}
.galery_section .img_link img[alt="sample_img"]{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
}
.galery_section .img_link img[alt="chain"]{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    opacity: 0;
    transition: all 0.3s linear;
}
.galery_section .img_link:hover img[alt="sample_img"]{
    filter: brightness(0.5);
}
.galery_section .img_link:hover img[alt="chain"]{
    opacity: 1;
}
.contain_logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contain_logo h1{
    font-family: 'RobotoCondensed';
}